
html, body {
	margin: 0;
	padding: 0;
}

html {
	background: url(charr_great_wall.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	font-size: 10px;
	font: 1.6em sans-serif;
}

div#search {
	margin: 0 auto;
	max-width: 400px;
}

form {
	margin: 0 auto;
}
input[name=searchbox] {
	width: 230px;
}
#title {
	background-color: #000;
	color: #fff;
	padding: 10px 0 10px 50px;
	width: 100%;
}

#table_div {
	margin: 0 auto;
	width: 75%;
	max-height: 500px;
}

#menu {
	margin: 0 auto;
	max-width: 500px;
	min-width: 250px;
	background-color: #eee;
	opacity: .5;
}

footer {
	width: 100%;
	background-color: #ffffff;
	color: #000000;
	margin: 0 auto;
	padding: 10px 0 0 0;
	position: fixed;
	bottom: 0;